export(
  generateAR,
  sim.dregar,
  dregar
)

importFrom("stats", "IQR", "arima.sim", "coef", "dnorm", "lm",
             "quantile", "rnorm", "runif", "sd", "spline")
importFrom("utils", "Rprof", "summaryRprof")
